<a href="https://colab.research.google.com/github/satyam-ux/apex/blob/master/machine_learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install anaconda

In [ ]:
print("This is PRINCE") #dispaly message

In [ ]:
student ="Ram" #student ek variable hai or "sam is data"
student

In [ ]:
type(student) #variable data kis type ka hai(string)

In [ ]:
student ="Ratt" #student ek variable hai or "matt is data"
student

In [ ]:
type(student) #string type data

In [ ]:
student ="Tob"#student ek variable hai or "bob is data"
student

In [ ]:
a1 =10 #a1 ek variable hai or "10 is intiger data"
a1

In [ ]:
type(a1) #integer type data

In [ ]:
a1 =1.5 #agar kisi number me dot laga ho to wo  float value hoga
a1

In [ ]:
type(a1) #float type data

In [ ]:
a1 = True#jaha true=false ho wo boolean hai
a1

In [ ]:
type(a1)#type boolean data type hai

In [ ]:
a1 = 1+2j#ye ek complex number hai  jisme 1 jo hai real number hai or 2j ek virtual number hai
a1 #ye direct likhne se print hota hai baar baar print ye likhne ki jarurt nahi

In [ ]:
type(a1)#yaha a1 jo hai uska type complex hai

***OPERATORS***

<a><p><b> Arithmetic operator (+, -, /, *)</b>></p></a>

In [ ]:
#Arithmetic operator (+, -, /, *)
a = 10 #a me initizer vtype data store hai 
b = 20 # yaha bhi same hua hai isme bhi initixer value hai

In [ ]:
# maine sare ko0 ek baar me hicomma laga ke likh diya nahi to single single hi uopdate ho rhaa hyota to maine yesse kiya hai aagar aopko lage ki ek ek kaar ke kare to wo bhi kaar sakta haiu 
a+b ,a-b ,a/b ,a*b #sab ke sab operato hai jaise yaha sara answer intizer me aayega jaise plus or minus karte hai

<a><p><b>Relational operators(<,>,==,!=,)<b/></p></a>

In [ ]:
a = 10
b =50

In [ ]:
a>b,a<b,a==b,a!=b,a!=a
#a>b,given value se dekhe to a jo hai chota hai b se isiliye hame false result milega 
#a<b,given value ke anusar b jo hai a se bara hai nto result true dega 
#a==b,yaha == duble equal t6o dene se ye pucha gya ki a and b same hai tp result aaya nahi brio 
#a!=b,yaha a! ko a!=b kiya to result aaya true mtlb ! iska kaam hai naa  ki a jo hai b ke barabar to nahi 
#a!=a,yaha a! se milaya to pata chala a ke barabar hai paar yaha ahi equal bola isiliye false value aaya

<p><b><a>Logical operator(&=And,|=or)<a/></b></p>
<p
AND                                                   OR
a    &   a                                      a   |   a   
TRUE AND TRUE   = true                         TRUE OR TRUE   = true  
a    &    b                                     a    |    b
TRUE AND FALSE  = false                        TRUE OR FALSE  = true
b     &   a                                     b     |   a
FALSE AND TRUE   =false                        FALSE OR TRUE   = true
b     &    b                                    b     |    b
FALSE AND FALSE = false                        FALSE OR FALSE = false
              /p>

In [ ]:
a =True
b =False

In [ ]:
a&a , b&b ,a&b, b&a,

In [ ]:
a|a , b|b ,a|b, b|a,

<p>KEYWORDS </P>
<p
False          class        Finally         is         return 
None           continue     For             lambda     try
True           def          from            nonlocal   while 
and            del          global          not        with
as             elif         if              or         yield 
/p>

<p>keywordextract</p>

In [ ]:
str1 ='this is killer'#here str1 is a type of string in single comma
str1

In [ ]:
str2 ="this is killer"#here stri is a type of string in duble comma 
str2

In [ ]:
str3 ='''this 
is 
killer'''#  here str3 is a typ of string in 3riple comma which help us to print multiple line strings
str3

indivisual character extracting

In [ ]:
my_string ="this is killer"#here is string in my_string named variable
my_string[0]#here []=(in python string are counted by (value 0 to n number from left to right if u want to count from right to left then -1 to -ve n number))

In [ ]:
my_string="this is killer"#here is string in my_string named variable 
my_string[-1]#here []=(in python string are counted by #if u want to count from right to left then -1 to -ve nth number)

In [ ]:
my_string[4:12]#here maine yaha 1st type se string me se kuch data nikal raha jo start hota hai 4 se or khtm hota hai 12pe )

In [ ]:
my_string[4:-2]#here maine yaha 2nd type se string me se kuch data nikal raha jo start hota hai 4 se or khtm hota hai -2pe )

In [ ]:
my_string[-10:-2]#here maine yaha 3rd type se string me se kuch data nikal raha jo start hota hai 4 se or khtm hota hai -2pe)

In [ ]:
len(my_string)#string ke length ko nikalne ke liye or keh saskte hai kitne charater hai usse check karne ke liye

In [ ]:
my_string="ThIS IS killER"#nORMAL STRING HAI BSS 
my_string.lower()#.lower() iska kaam hai jitne bhi data hai unko ek jaisa banane ka mtlb agar wo capital hai to small kaar

In [ ]:
my_string="tHis Is KILLER"#normal STRing hai BSS
my_string.upper()#YAHA .UPPER() KA KAAM YE HAI KI JITNE BHI STRING DATA HAI Variable ME unhe UPPER LEETER ME CONVERT KAAR DO

In [ ]:
my_string="thas is kaller"#normal string hai 
my_string.replace('a','i')#yaha .replace()=iske andar  kaa kaam ye hai ki jo bhi data mujhe replace karna hai9 string se uska phle wo word ya letter likho or comma ke baad me usko sahi kaar ke likho to wo replace ho jayega

In [ ]:
my_string="this is killer"#normal string hai 
my_string.replace('killer','lover')#iska kaam ye hai ki jo bhi word hai usko kaise replace karenge jise amine yaha killer ko replace kaar ke lover add kar diya

In [ ]:
my2_string='''Hi baby 
i love you
i love you too              yaha multiple lines ka string hai bss
i love you more and more 
i love you my love 
i love you so much
'''
my2_string.count('i')#yaha .count kaa kaam hai kissi khash letter ko count karne ka data se bss parameter ke andar aap uss data ko fill kaar do ho jayega

In [ ]:
my2_string.count('love')#yaha .count kaa kaam hai kissi khash word ko count karne ka data se bss parameter ke andar aap uss data ko fill kaar do ho jayega

In [ ]:
my3_string="this is killer"#normal string hai bss
my3_string.find('killer')#yaha .find ka kaam ye hai ki string me uss word ya letter ya data konse position pe hai usse niklna

In [ ]:
my2_string.find('love')#yaha .find ka kaam ye hai ki string me uss word ya letter ya data konse position pe hai usse niklna

In [ ]:
my_skill=('java,python,c,c++,html,css,react.js,node.js')#ye bss ek normall string hai n
my_skill.split(",")#yaha .split ka kaam ye hai ki jo bhi data de usse ye string kissi specific place se break kaar ke ek list bana ke de or jaha se data chahiye usse bataye parameter me ("," jaha se bhi data chahiye waha ka detail bharo duble comma me or run)

In [ ]:
skill =my_skill.split(",")#maine yaha my_skill.split ke output ko kissi or variable me daal diya 
skill#yaha main skill ko print karwa raha to mujhe wo split wali output data mil jayyegi

<p>Data Structure in Python--tuple--(modification not possible )</p>
<p
tuple=it is an ordered collection of element enclosed within()
list=it is an ordered collection of element enclosed within[]
dictionary 
set
/p>

In [ ]:
tup1=(1,True,1.4,5+5j)#yaha hum ek baar me multiple types ke value ko ek baar me le sakte hai or ye change nahi ho sakta 
tup1

In [ ]:
type(tup1)#humne check kiya konsi value hai ye

In [ ]:
tup1=(1,True,'a',2,False)#yaha normal hmne multiple value liya 
tup1[1]#here []=(in python string are counted by #if u want to count from right to left then -1 to -ve nth number)

In [ ]:
tup1[1:4]#here maine yaha 1st type se string me se kuch data nikal raha jo start hota hai 4 se or khtm hota hai 12pe )

In [ ]:
len(tup1)#tuple ka length nikal raha

In [ ]:
tup2=(1,2,3)#yaha multiple intiger value hai 
tup3=(4,5,6)#yaha bhi same hai 
tup2,tup3#yaha hamne tuple value ko diffent diffenrt parameter me save kiya hai

In [ ]:
tup2=(1,2,3)#yaha maine 3 interger liya hai 
tup3=(4,5,6)#yaha maine 3 or inter liya hai 
tup2+tup3# yaha maine tup2 or tup3 ko add kiya but ye add honge lekin actual add(1+2=3) nahi sirf 2 type ke tuple ko ek parameter me le aayenge  jaise yaha jo value hai wo ek saath aa jayegi

In [ ]:
tup4=(1,True,False,"hi",3.14)#yaha maine 3 different type ke value liya hai 
tup5=(2,False,True,"bye",6.86)# yaha maine sencond value bhi waisa hi liya hai 
tup4+tup5#yaha maine tup4 or tup5 ko add kar diya

In [ ]:
tup2*2#yaha maine 1 tuple value ko multiple kiya hai 2 se yaha main kitna bhi number se multiple4 kaar sakta hu

In [ ]:
tup2*2+tup3*5#more example hai above waale ka

In [ ]:
tup6=(1,2,3,4,5)#kuch nahi hai bss tuple me multoiple interger value hai 
min(tup6)#yaha maine iss tuple me check kiya kitna sabse chota value sirf min()or parameter me variable ko run karwa de

In [ ]:
max(tup6)#yaha maine check kiya tuple me sabse bara value sirf max()or parameter me variable ko run karwa de

<p>Data Structure in Python--list--(modification possible)</p>
it is an ordered collection of element enclosed within[ ]

In [ ]:
l1=[1,'satyam',3.14,True]#yaha pe []is bricate ka mtlb hai ye ki list hai 
l1

In [ ]:
l1[-1]#here []=(in python string are counted by (value 0 to n number from left to right if u want to count from right to left then -1 to -ve n number))

In [ ]:
l2=[1,'satyam',2,b,3,'c']#kuch nahi hai bss 
l2[1]=10#yaha se change kaar skate hai data ko because list me hum data modification kaar sakte hai
l2

In [ ]:
l2.append(98.3)#hum isme one new data add kar sakte hai
l2

In [ ]:
l2.pop()#hum isme one by one new data store kar sakte hai
l2

In [ ]:
l2.pop()# ex-hum isme one by one new data store kar sakte hai
l2

In [ ]:
l3=["sameer",'satyam','raja,','sameer','prince','dk']
l3.reverse()#data ke direction ko change karne ke liye
l3

In [ ]:
l4=['satyam','raja,','sameer','prince','dk']
l4.insert(1,"vicky")#yaha maine ek new data ko add kiya hai 
l4

In [ ]:
l4.sort()#yaha maine alpha betical order me data ko arrange kiyaaa hai
l4

In [ ]:
l5=['apple','song','banana','mango']
l4+l5#2 list ko ek line me lagane ke liye

<p>Data Structure in Python--dict--(modification possible)</p>
it is an ordered collection of element enclosed within{}